@font-face{
    font-family:"Questa Grande W05 Regular";
    src:url("Fonts/5635354/502c2321-eddf-41f9-9152-ab73ff4a4f15.woff2") format("woff2"),url("Fonts/5635354/be285cf7-89e9-442c-9a32-02bbf0c30f49.woff") format("woff");
}

body {
    background-color: #e9e3bc;
}

.middle {
    display: flex;
    height: 100vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.text {
    font-size: 25px;
}

.grid {
    display: grid;
    grid-template-rows: 100px 150px auto;
    grid-row-gap: 64px;
}

.home {
    display: flex;
}

.social {
    display: flex;
    height: 7vh;
}

.social img {
    margin-right: 30px;
    cursor: pointer;
}

.icons {
    transition: all 0.3s ease 0.1s;
}

.icons:hover {
    transform: translateY(-5px);
}

span {
    opacity: 0;
    transition: all 1s ease;
    display: inline-block;
    transform: translateY(0px);
    min-width: 16px;
    min-height: 66px;
}

span.active {
    opacity: 1;
    transform: translateY(-50%);
}

@media screen and (max-width: 900px){
    text {
        font-size: 10px;
    }
    
    .h1 {
        font-size: 12px;
    }
}