.input {
    border: none;
    border-radius: 100px;
    height: 5vh;
    width: 30vw;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    outline: none;
}

.input:focus {
    border: none;
}

.submit {
    display: none;
}

.loginBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.hint {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.2rem;
}

.hintBox {
    display: flex;
    padding: 0 5vw 0 5vw;
    text-align: center;
}